site_name: pySWATPlus
theme:
  name: material
  features:
    - navigation.tabs
    - content.code.annotate
  palette: 
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_signature_annotations: true
            show_root_heading: true
            show_root_full_path: false
            filters:
              - "!^_[^_]"  # exclude members starting with a single underscore, but keep __init__, __str__, etc.

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.details

nav:
  - Home: index.md

  - User Guide:
    - SWAT+ Simulation: userguide/swatplus_simulation.md
    - Sensitivity Interface: userguide/sensitivity_interface.md
    - Model Calibration: userguide/model_calibration.md
    - Data Analysis: userguide/data_analysis.md

  - API Reference:
    - TxtinoutReader: api/txtinout_reader.md
    - PerformanceMetrics: api/performance_metrics.md
    - SensitivityAnalyzer: api/sensitivity_analyzer.md
    - Calibration: api/calibration.md
    - DataManager: api/data_manager.md

  - Contributor Guide: CONTRIBUTING.md

  - Release Notes: changelog.md