name: mypy

on:
  push:
    branches:
      - main  # Your branch name
    paths:
      - '**/*.py'  # Trigger only for changes in Python files
  pull_request:
    branches:
      - main  # Your branch name
    paths:
      - '**/*.py'  # Trigger only for changes in Python files

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-mypy.txt  # Install dependencies

    - name: Type check with mypy
      run: |
        mypy pySWATPlus